@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quicksand";
  src: local("quicksand"), url("./assets/fonts/Quicksand.ttf");
}

@font-face {
  font-family: "greatvibes";
  src: local("GreatVibes-Regular"), url("./assets/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "dancing";
  src: local("Dancing-Script"), url("./assets/fonts/Dancing-Script.ttf");
}

@font-face {
  font-family: "darleston";
  src: local("Darleston"), url("./assets/fonts/Darleston.otf");
}

@font-face {
  font-family: "gustatory";
  src: local("GustatoryDelightRegular"),
    url("./assets/fonts/GustatoryDelightRegular-rgX3L.ttf");
}

@font-face {
  font-family: "cormorantgaramond";
  src: local("CormorantGaramond"),
    url("./assets/fonts/CormorantGaramond-Regular.ttf");
}


.image-grid {
  display: grid;
  grid-column-gap: 5px;
  align-items: start;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.image-grid-child {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-row-gap: 5px;
}

/* TOGGLE STYLING */
.toggle {
  margin: 1rem 0rem 2rem 0rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle input+label {
  margin: 0;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem 0;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #747474;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle input:hover+label {
  border-color: #213140;
}

.toggle input:checked+label {
  background-color: #f2f2f4;
  color: #2b2b2b;
  box-shadow: -3px -2px 8px #2b2b2b96 inset;
  border-color: #2b2b2b96;
  z-index: 1;
}